/* You can add global styles to this file, and also import other style files */
html{
  font-size: 62.5%;
}

body{
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
}

h1{
  font-weight: 700;
  font-size: 6rem;
}
